---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../icons/SocialPill.astro";
import Habilidades from "../components/Habilidades.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Profile from "../icons/Profile.astro";
---

<Layout title="Portafolio de Steven Rincón">
  <main class="px-4 py-10">
    <SectionContainer>
      <div class="flex gap-4 mb-4">
        <img class="rounded-full shadow-lg size-16" src="/logo.png" />
        <a
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </div>
      <h1
        class="text-white [&>p>strong]:text-[#47D16E] text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy <p>
          <strong>Steven Rincón </strong><a
            target="_blank"
            rel="noopener noreferrer"
            class="flex justify-center items-center"
          >
          </a>
        </p>
        <h2
          class="text-2xl lg:text-2xl opacity-80 text-wrap mt-2 max-w-[700px]"
        >
          +2 años de experiencia. Ingeniero de Sistemas y Computación. De
          Sogamoso, Colombia
        </h2>

        <nav class="flex gap-x-7 mt-8 flex-wrap">
          <SocialPill href="https://github.com/StevenRincon24"
            ><GitHubIcon class="md:size-6 size-4" /> GitHub
          </SocialPill>

          <SocialPill href="mailto:stevenrincon60@gmail.com"
            ><MailIcon class="md:size-6 size-4" /> stevenrincon60@gmail.com
          </SocialPill>
        </nav>
      </h1>

      <SectionContainer id="aboutme" class="py-44 pb-25">
        <h2
          class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center"
        >
          <Profile class="size-7" />Sobre mí
        </h2>
        <About />
      </SectionContainer>

      <SectionContainer id="habilities" class="py-44 pb-25">
        <h2
          class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center"
        >
          <Briefcase class="size-7" />Habilidades
        </h2>
        <Habilidades />
      </SectionContainer>

      <SectionContainer id="experience" class="py-44 pb-25">
        <h2
          class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center"
        >
          <Briefcase class="size-7" />Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects" class="py-44 pb-25">
        <h2
          class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center"
        >
          <Code class="size-7" />Proyectos
        </h2>
        <Projects />
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
